<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Novo Treinador</title>
</head>
<body>
    <h1>Novo Treinador</h1>
    <form action="/adicionarTreinador" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <button type="submit">Adicionar</button>
    </form>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>