<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= treinador.nome %></title>
</head>
<body>
    <h1><%= treinador.nome %></h1>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>